@model Blog
@{
    ViewData["Title"] = Model.Id == 0 ? "Добавить пост" : "Редактировать пост";
}
<p>Model.Id: @Model.Id</p>
<input type="hidden" name="Id" value="3" />

<h1>@ViewData["Title"]</h1>

<div class="item order">
    <form method="post" asp-controller="Blog" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="error"></span>

        <label asp-for="Anons"></label>
        <input asp-for="Anons" />
        <span asp-validation-for="Anons" class="error"></span>

        <label asp-for="FullText"></label>
        <input asp-for="FullText" />
        <span asp-validation-for="FullText" class="error"></span>

        <input type="submit" value="@(Model.Id == 0 ? "Добавить" : "Сохранить изменения")" />
    </form>
</div>